.app-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 98.75vw;
    margin-top: 40px;
    background-image: url(https://images.unsplash.com/photo-1469013078550-305e63b7c8f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

.formInput {
    width: 80%;
    margin: 15px;
}

.formInput input {
    width: 60%;
    height: 36px;
    font-size: 18px;
    margin: 4px;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formInput button {
    margin: 4px;
    padding: 14px;
    text-align: center;
    border: none;
    border-radius: 12px;
    font-weight: 700;
}

.addBtn {
    background-color: skyblue;
    color: #fff;
}

.clearBtn {
    background-color:palevioletred;
    color: #fff;
}

.input-result {
    width: 50%;
}

.task-List {
    list-style-type: none; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 10px;
    margin-bottom: 4px;
    padding-left: 24px;
    background-color: white;
}